@import '~tachyons';

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}


button:focus {
  outline: 1px solid;
  outline-offset: -4px;
}

